#map {
  position: absolute;
  z-index: 1;
  width: 416px;
  height: 416px;
  line-height: 0px;
}

#userMap {
  position: absolute;
  z-index: 2;
  width: 416px;
  height: 416px;
  line-height: 0px;
}

.item {
  width: 32px;
  height: 32px;
}